// Incluye un sass map donde podremos nombrar y crear variables personalizadas en cada proyecto.

$colors: (
  neutral: (
    900: hsl(240, 100%, 5%),
    400: hsl(236, 13%, 42%),
    200: hsl(233, 8%, 79%),
    100: hsl(36, 100%, 99%),
  ),
  primary: (
    400: hsl(35, 77%, 62%),
    500: hsl(5, 85%, 63%),
  ),
);
