// Font-face

@font-face {
  font-family: 'inter';
  src: url(../../assets/fonts/static/Inter-Regular.ttf) format('tff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url(../../assets/fonts/static/Inter-Bold.ttf) format('tff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url(../../assets/fonts/static/Inter-ExtraBold.ttf) format('tff');
  font-weight: bolder;
  font-style: normal;
}

// Font-family
$ff-sans: 'inter', sans-serif;

$ff-base: $ff-sans;

//Font-sizes

$font-sizes: (
  900: clamp(2.5rem, 0.5rem + 6vw, 3.5rem),
  800: clamp(2rem, 0.5rem + 5vw, 2.5rem),
  700: 2rem,
  600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem),
  500: 1.25rem,
  400: 1.125rem,
  300: 1rem,
  200: 0.938rem,
  100: 0.875rem,
);

//Font-weights

$fw-400: 400;
$fw-700: 700;
$fw-800: 800;
